<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <% require 'base64' %>
    <link rel="icon" type="image/png" href="data:image/png;base64,<%= Base64.encode64(File.read('src/favicon.png')).gsub("\n",'') %>">
    <style type="text/css">
      <%= File.read('src/episopass.css') %>
    </style>
    <title>EpisoPass</title>
  </head>
  
  <body>
    <div class='topmenu'>
      <span id="descbutton"><div class='topmenuitem'>EpisoPass概要</div></span>
      <span id="editbutton"><div class='topmenuitem'>問題編集</div></span>
      <span id="easybutton"><div class='topmenuitem'>問題作成支援</div></span>
      <span id="dasbutton"><div class='topmenuitem'>HTML作成</div></span>
      <!-- <a id="jsonbutton"><div class='topmenuitem'>JSON</div></a> -->
      <a id="htmlbutton"><div class='topmenuitem'>HTMLダウンロード</div></a>
    </div>
    <hr>
    <p></p>

    <div id="contents">
      <div id="description" style="display:none;">
	<h2>概要</h2>

	詳細は<a href="https://Scrapbox.io/EpisoPass">EpisoPass情報ページ</a>に記述してあります。

	<ul>
	  <li><b>EpisoPass</b>&#8482; は、個人的な記憶からパスワードを生成するシステムです。</li>
	  <li>たとえば<a href="http://pitecan.com/p/Amazon_masui@pitecan.com.html">このページ</a>の問題に正しく答えるとAmazonのパスワードが生成されます。</li>
	  <li>上の「問題編集」で問題を作成し、「HTML作成」でパタンを指定してから「HTMLダウンロード」をクリックすると、
	    パスワードを生成するための上記のようなHTML(生成HTML)をダウンロードできます。</li>
	  <li>EpisoPassは<a href="episopass.html">episopass.html</a>という単一HTMLファイルで動作するので、
	    ダウンロードしてローカルマシンで動かすことができます。
	    ネットワークやサーバは必要ありません。
	  </li>
	  <li>生成HTMLもどこでも動かすことができます。安全な場所に保存しておくと良いでしょう。</li>
	  <li>生成HTMLを問題編集画面にDrag&amp;Dropすると問題データを再編集できます。</li>
	</ul>

	<h3>EpisoQ</h3>
	<ul>
	  <li><a href="https://github.com/masui/EpisoQ">episoq</a>を利用すると問題を簡単に作成できます。</li>
	  <li>episoqは <code>npm install -g episoq</code> でインストールできます。</li>
	</ul>

	<h3>ブラウザ拡張機能</h3>
	<ul>
	  <li><a href="https://github.com/masui/EpisoPassExtension">ブラウザ拡張機能</a>を利用するとEpisoPassをブラウザのログイン画面で使えます。</li>
	</ul>
      </div>
      
      <div id="editor"> <!-- 編集画面 -->
	<h2>データ編集</h2>

	<div style="font-size:18;">
	  <b>Seed</b>: <input type="text" id="seed" width=100 style="height:20pt;font-size:12pt;border-width:2pt;">
	  <b>⇔</b>
	  <b>Password</b>: <input type="text" id="pass" width=100 style="height:20pt;font-size:12pt;border-width:2pt;">
	</div>
	<p></p>
	
	<div id="main">
	</div>
      </div>
      
      <div id="dasmaker" style="display:none;"> <!-- DAS作成画面 -->
	<span>作成画面</span>
      </div>
      
      <div id="das" style="display:none;"> <!-- 利用画面 -->
	<span>利用画面</span>
      </div>
      
      <div id="easy" style="display:none;"> <!-- 簡単登録画面 -->
	<h2>問題作成支援</h2>
	
	人名や地名のリストから簡単にEpisoPass問題を作ることができます。
	名前と質問のリストを入力して <input type='button' id="startedit" value="問題編集"> ボタンを押して下さい。
	
	<ul>
	  
	  <li>名前リスト</li>
	  
	  <ul>
	    <li>他人が知らない思い出がある人名や地名を30行ぐらい並べて下さい。</li>
	    <li>適当な名前を混ぜてもかまいません。</li>
	  </ul>
	  
	  <blockquote>
	    <textarea id="easyanswers" class="textinput" style="width:80%;height:80px;"
		      placeholder="山田
鈴木
田中"
		      ></textarea>
	  </blockquote>
	  
	  <li>質問リスト</li>
	  
	  <ul>
	    <li>上のリストのうち10個程度に対し、それを特定できる質問を並べて下さい。</li>
	    <li>他人が知らない秘密の<b>事実</b>で、将来忘れないようなエピソードを書いて下さい。</li>
	  </ul>
	  
	  <blockquote>
	    <textarea class="textinput" id="easyquestions" style="width:80%;height:80px;"
 		      placeholder="絵が上手いのは?
バックハンドキャッチしたのは?
ソニーにいたのは?
スケート場は?"
		      ></textarea>
	  </blockquote>
	</ul>
      </div>
    </div>
    
    <script src="./dist/bundle.js"></script>
  </body>
</html>
