<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <% require 'base64' %>
    <link rel="icon" type="image/png" href="data:image/png;base64,<%= Base64.encode64(File.read('src/favicon.png')).gsub("\n",'') %>">
    <style type="text/css">
      <%= File.read('src/episopass.css') %>
    </style>
    <title>EpisoPass</title>
  </head>
  
  <body>
    <div style="position: fixed; top: 0; left: 0; right: 0; z-index: 990; overflow: unset">
      <div style="padding:10px;background-color:#ffffff;">
	<div class='topmenu'>
	  <span id="descbutton"><div class='topmenuitem'>EpisoPass概要</div></span>
	  <span id="editbutton"><div class='topmenuitem'>問題編集</div></span>
	  <span id="easybutton"><div class='topmenuitem'>問題作成支援</div></span>
	  <span id="dasbutton"><div class='topmenuitem'>利用ページ作成</div></span>
	  <a id="htmlbutton"><div class='topmenuitem'>利用ページ取得</div></a>
	</div>
	<hr>
      </div>
      <img src="data:image/png;base64,<%= Base64.encode64(File.read('src/episopass.png')).gsub("\n",'') %>"
	   height=40 style="position: fixed; top: 10px; left: 10px; right: 0; z-index: 990; overflow: unset;">
    </div>

    <div id="contents" style="width:95%;margin:auto;max-width:800px">
      <div id="description" style="display:none;">
	<h2>EpisoPass概要</h2>
	
	詳細は<a href="https://Scrapbox.io/EpisoPass2020">EpisoPass情報ページ</a>に記述してあります。
	
	<ul>
	  <li><b>EpisoPass</b>&#8482; は、個人的な記憶から複雑なパスワードを生成するシステムです。</li>
	  <li>
	    たとえばこのような<a href="http://pitecan.com/p/Amazon_masui@pitecan.com.html"><b>利用ページ</b></a>の問題に正しく答えると
	    Amazonのパスワードが生成されます。
	  </li>
	  <li>
	    <b>利用ページ</b>のデータはEpisoPass<b>編集ページ</b>で作成します。
	    上の「問題編集」で編集ページに移動して問題を作成し、
	    「利用ページ作成」で<b>DASパタン</b>を指定してから「利用ページ取得」をクリックすると、
	    パスワードを生成するための利用ページのHTMLを取得OBできます。
	  </li>
	  <li>
	    DASとは「<a href="https://en.wikipedia.org/wiki/Draw_a_Secret">Draw-a-Secret</a>」の略で、ログイン時に描く秘密のパタンのことです。
	    描きやすいDASパタンを登録すると
	    利用ページでの回答選択が楽になります。
	  </li>
	</ul>
	
	<h3>ネットの利用</h3>
	<ul>
	  <li>
	    EpisoPass利用時にネット通信は行なわれません。
	    EpisoPassのデータはどこにも保存されませんし、どこにも送られません。
	  </li>
	  <li>
	    EpisoPassは<a href="EpisoPass.html">EpisoPass.html</a>という単一HTMLファイルで動作するので、
	    ローカルマシンのブラウザで動かすことができます。
	    ネットワークやサーバは利用されません。
	  </li>
	  <li>
	    ネットワークに接続されていない状況で編集ページを利用して利用ページを作成/取得できますし、
	    利用ページはどこでも動かすことができます。
	  </li>
	</ul>
	
	<h3>データの再編集</h3>
	<ul>
	  <li>
	    利用ページのHTMLを問題編集画面にDrag&amp;Dropすると
	    問題データを再編集できます。
	  </li>
	</ul>
	
	<h3>問題を簡単に作成する</h3>
	<ul>
	  <li>「問題作成支援」ページで回答リストと質問リストを入力すると問題データを簡単に作成できます。</li>
	  <li>
	    問題と回答のリストをScrapboxに用意しておけば、
	    <a href="https://github.com/masui/EpisoQ">episoq</a>
	    を使って問題を簡単に作成できます。
	  </li>
	  <li>
	    episoqは <code>npm install -g episoq</code> でインストールできます。
	  </li>
	  <li>
	    引数を指定せずにepisoqを起動するとサンプルデータが読み込まれて編集画面が表示されます。
	    自分のScrapboxに書いたページを引数で指定することができます。
	    <br>
	    <code>% episoq プロジェクト名 ページ名</code>
	  </li>
	</ul>
	
	<h3>ブラウザ拡張機能</h3>
	<ul>
	  <li>
	    <a href="https://github.com/masui/EpisoPassExtension">ブラウザ拡張機能</a>を利用すると
	    EpisoPassをブラウザのログイン画面で使えます。
	  </li>
	  <li>
	    <code>サービス名_アカウント名.html</code> という名前の利用ページにアクセスすると
	    問題データがブラウザのローカルデータベースに保存され、
	    そのデータが拡張機能から参照可能になります。
	  </li>
	</ul>
      </div>
      
      <div id="editor"> <!-- 編集画面 -->
	<h2>問題編集<h2>

	<div style="font-size:18; width=600px;">
	  <b>Seed</b>: <input type="text" id="seed" class="seedpass" width=100>
	  <b>⇔</b>
	  <b>Password</b>: <input type="text" id="pass" class="seedpass" width=100>
	</div>
	<p></p>
	
	<div id="main">
	</div>
      </div>
      
      <div id="dasmaker" style="display:none;"> <!-- DAS作成画面 -->
	<span>作成画面</span>
      </div>
      
      <div id="das" style="display:none;"> <!-- 利用画面 -->
	<span>利用画面</span>
      </div>
      
      <div id="easy" style="display:none;"> <!-- 簡単登録画面 -->
	<h2>問題作成支援</h2>

	<ul>
	  <li>地名などのリストから簡単にEpisoPass問題を作ることができます。</li>
	  <li>名前と質問のリストを入力して <input type='button' style="border-radius:4px;" id="startedit" value="問題編集"> ボタンを押して下さい。</li>
	</ul>

	  
	<h3>名前リスト</h3>
	  
	<ul>
	  <li>他人が知らない思い出がある地名や人名などを30行ぐらい並べて下さい。</li>
	  <li>適当な名前を混ぜてもかまいません。</li>
	</ul>
	  
	<blockquote>
	  <textarea id="easyanswers" class="textinput" style="width:80%;height:80px;"
		    placeholder="広島
千葉
福島"
		      ></textarea>
	</blockquote>
	  
	<h3>質問リスト</h3>
	  
	<ul>
	  <li>上のリストのうち10個程度に対し、それを特定できる質問を並べて下さい。</li>
	  <li>他人が知らない<b>事実</b>で、将来忘れないようなエピソードを書いて下さい。</li>
	</ul>
	  
	<blockquote>
	  <textarea class="textinput" id="easyquestions" style="width:80%;height:80px;"
 		    placeholder="小指をケガしたのは?
財布を拾ったのは?
ヘビがいたのは?"
		    ></textarea>
	</blockquote>
      </div>
    </div>
    
    <script src="./dist/bundle.js"></script>
  </body>
</html>
